* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 470px;
  height: auto;
  background-color: black;
  margin: 150px auto;
  border-radius: 20px;
  padding: 10px;
  border: solid orange;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
  color: white;
  font-size: 70px;
  text-align: end;
  padding-top: 20px;
  word-wrap: break-word;
}
